.header {
    background-color: #fff;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    flex-wrap: wrap;
    margin: 24px;
}

.logoContainer {
    display: flex;
    align-items: center;
    flex: 1;
}

.navCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1;
}

.navButton {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f3ebff;
    border: none;
    padding: 11px 27px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out;
    flex-shrink: 0;
}

.navButton:hover {
    background-color: #e2d6ff;
}


.activeNav {
    background-color: #efebff;
    color: #633CFF;
}

.activeNav img {
    filter: brightness(0) saturate(100%) invert(26%) sepia(57%) saturate(1423%) hue-rotate(225deg) brightness(97%) contrast(101%);
}


.inactiveNav {
    background-color: transparent;
    color: #737373;
    border: none;
}

.previewContainer {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.previewButton {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: 1px solid #633CFF;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    color: #633CFF;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out;
    flex-shrink: 0;
}

.previewButton:hover {
    background-color: #EFEBFF;
}

.previewIcon {
    display: block;
}

.desktopLogo {
    display: block;
}

.mobileLogo {
    display: block;
}

.buttonText,
.previewText {
    display: inline;
}

/* ================= Desktop styles (768px and above) ================= */
@media (min-width: 768px) {
    .desktopLogo {
        display: block;
    }

    .mobileLogo {
        display: none;
    }

    .previewIcon {
        display: none;
    }

    .buttonText,
    .previewText {
        display: inline;
    }

    .navCenter {
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }
}

/* ================= Tablet styles (768px to 1024px) ================= */
@media (min-width: 768px) and (max-width: 1024px) {
    .navButton {
        padding: 11px 26px;
        border-radius: 8px;
    }

    .navCenter {
        gap: 0px;
    }
}


/* ================= Mobile styles (up to 767px) ================= */
@media (max-width: 767px) {
    .header {
        margin: 0px;
        border-radius: 0px 0px 12px 12px;
    }
    .desktopLogo {
        display: none;
    }

    .mobileLogo {
        display: block;
    }

    .buttonText,
    .previewText {
        display: none;
    }

    .navButton {
        padding: 11px 27px;
        border-radius: 8px;
    }

    .previewButton {
        padding: 10px 16px;
        border-radius: 8px;
    }

    .navCenter {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0px;
        flex: 1;
        flex-wrap: nowrap;
    }

    .previewContainer {
        display: flex;
        justify-content: end;
        flex: 1;
        margin-top: 0;
    }

    .previewIcon {
        display: block;
    }
}